<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="media.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Quotes | Tani Smith</title>
  </head>
  <body>
    <div class="main-container" id="app">
      <header>
        <div @click="isActive = !isActive" ><img class="menuIcon"  src="assets/menu-24px.svg" alt="menu" width="30px" height="auto"></div>
        <!-- <div class="search">
          <img src="assets/search-icon.svg" alt="search-icon" width="20px" height="auto">
          <input v-model="search" type="text" placeholder="Find inspiration"></input>
        </div> -->
      </header>
      <div class="logo">
        <h1>Quotes Gallery</h1>
      </div>
      <div class="container">
        <div class="main-layer">
          <li v-for="quote in randomquotes" :data-quote="`${quote.content} - ${quote.author}`"><img :src="'/assets/'+ quote.img" alt="quote1"/></li>
        </div>
        <div class="menu" v-bind:class="{ isActive: isActive }"  >
          <div class="getQuotes"><a  @click="getRandomQuotes()"  href="#">Discover new quotes</a></div>
          <div>Quote of the day</div>
          <div class="dayQuoteBox"><li class="oneQuote" v-for="quote in randomquotes.slice(0,1)" :data-quote="`${quote.content} - ${quote.author}`"></li></div>
          <div><a href="mailto:hola@tanismith.com">Contact</a></div>
        </div>
      </div>
      
      
    </div>
  </div>
    <footer>
        Made with ♥ by Tani
    </footer>
    <script type="module">
      import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js'
      const app = new Vue({
        el: '#app',
        data: {
          search: '',
          randomquotes: [],
          isActive: false
        },
        async mounted() {
          await this.getRandomQuotes()
        },
        methods: {
          async getRandomQuotes() {
            try {
              let promises = []
              for (let i=0; i<=8 ; i++ ) {
                promises.push(fetch('https://api.quotable.io/random').then(r => r.json()))
              }  
              const quotes = await Promise.all(promises)
              this.randomquotes = quotes.map(q => {
                const img = Math.floor(Math.random() * 6) + 1 + '.jpeg'
                return {...q, img} 
              })
            } catch (error) {
              console.log(error)
            }
          }
        }
      })
     
    </script>
  </body>
</html>
